{% extends "base.html" %}
{% block content %}
<h3>{% if form.nombre.data %}Editar Usuario{% else %}Crear Usuario{% endif %}</h3>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.nombre.label }} {{ form.nombre(class="form-control") }}</div>
    <div class="mb-3">{{ form.email.label }} {{ form.email(class="form-control") }}</div>
    <div class="mb-3">{{ form.rol.label }} {{ form.rol(class="form-select") }}</div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}